{:allowed-dependencies
 {:computer [:config :game-mechanics :state :notifications],
  :architecture [],
  :config [],
  :game [:computer :config :game-mechanics :player :state],
  :state [:config],
  :acceptance
  [:computer :config :game :game-mechanics :state :test :ui :pipeline],
  :ui [:config :game :game-mechanics :player :state :sound],
  :player [:config :game-mechanics :state :notifications],
  :game-mechanics [:config :state :notifications],
  :test [:computer :config :game-mechanics :state :pipeline :notifications],
  :sound [:notifications],
  :notifications [:state],
  :pipeline []},
 :fail-on-cycles true,
 :fail-on-violations true}
