{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        quil/quil {:mvn/version "4.3.1563"}
        speclj/speclj {:mvn/version "3.10.0"}}
 :aliases {:test {:extra-paths ["spec"]
                   :main-opts ["-m" "speclj.main" "-c"]}
					 :spec  {:main-opts ["-m" "speclj.main" "-c"]
                   :extra-deps  {speclj/speclj {:mvn/version "3.10.0"}}
                   :extra-paths ["spec"]}
	         :empire {:main-opts [-m empire.ui.quil.core]}
					 :run {:main-opts [-m empire.ui.quil.core]}
					 :cljs {:main-opts ["-m" "cljs.main"
					                         "--optimizations" "none"
					                         "--compile" "empire.ui.quil.core"
																	 ]}
					 :cov {:main-opts ["-m" "speclj.cloverage" "--" "-p" "src" "-s" "spec" "--lcov"]
					                  :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
					                  :extra-paths ["spec"]}
					 :parse-tests {:main-opts ["-m" "empire.acceptance.parser"]
					               :extra-paths ["spec"]}
           :generate-specs {:main-opts ["-m" "empire.acceptance.generator"]
					                  :extra-paths ["generated-acceptance-specs"]}
           :acceptance-tests {:main-opts ["-m" "empire.acceptance.pipeline"]}
           :all-tests {:main-opts ["-m" "empire.test.pipeline"]}
	           :check-dependencies {:extra-deps {io.github.unclebob/dependency-checker
	                                             {:git/url "https://github.com/unclebob/dependency-checker"
	                                              :git/sha "f7189a86bdb682d9cd1d4a60858db97e11b7b2b9"}}
	                                :main-opts ["-m" "dependency-checker.core"]}
	           :arch-view {:extra-deps {io.github.unclebob/arch-view
	                                    {:git/url "https://github.com/unclebob/arch-view"
	                                     :git/sha "6d3ed706310e1fdee57672215cd0b16f33e1e99b"}}}
						 :mutate {:extra-deps {io.github.unclebob/clj-mutate
						                        {:git/url "https://github.com/unclebob/clj-mutate"
						                         :git/sha "223da6c1a814265d0a714417def997ce7878a8da"}}
					          :main-opts ["-m" "clj-mutate.core"]
					          :extra-paths ["spec"]}
					 :spec-structure-check {:extra-deps {io.github.unclebob/speclj-structure-check
					                                     {:git/url "https://github.com/unclebob/speclj-structure-check"
					                                      :git/sha "7cc804c4e99b3482ca1d8a26b735ed41751a03ab"}}
					                        :main-opts ["-m" "speclj-structure-check.core"]}
						 :crap {:extra-deps {io.github.unclebob/crap4clj
						                      {:git/url "https://github.com/unclebob/crap4clj"
						                       :git/sha "9f12da1b09bc1177f8f058108cf22a73bc9a97a0"}}
						        :extra-paths ["spec"]
						        :main-opts ["-m" "crap4clj.core"]}
				 }
			 }
