{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        quil/quil {:mvn/version "4.3.1563"}
        speclj/speclj {:mvn/version "3.10.0"}}
 :aliases {:test {:extra-paths ["spec"]
                   :main-opts ["-m" "speclj.main" "-c"]}
					 :spec  {:main-opts ["-m" "speclj.main" "-c"]
                   :extra-deps  {speclj/speclj {:mvn/version "3.10.0"}}
                   :extra-paths ["spec"]}
	         :empire {:main-opts [-m empire.ui.quil.core]}
					 :run {:main-opts [-m empire.ui.quil.core]}
					 :cljs {:main-opts ["-m" "cljs.main"
					                         "--optimizations" "none"
					                         "--compile" "empire.ui.quil.core"
																	 ]}
					 :cov {:main-opts ["-m" "speclj.cloverage" "--" "-p" "src" "-s" "spec" "--lcov"]
					                  :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
					                  :extra-paths ["spec"]}
					 :parse-tests {:main-opts ["-m" "empire.acceptance.parser"]
					               :extra-paths ["spec"]}
					 :generate-specs {:main-opts ["-m" "empire.acceptance.generator"]
					                  :extra-paths ["generated-acceptance-specs"]}
					 :mutate {:extra-deps {io.github.unclebob/clj-mutate
					                        {:git/url "https://github.com/unclebob/clj-mutate"
					                         :git/sha "426045ea9d738facea204357b1243bc93070d3f6"}}
					          :main-opts ["-m" "clj-mutate.core"]
					          :extra-paths ["spec"]}
					 :spec-structure-check {:extra-deps {io.github.unclebob/speclj-structure-check
					                                     {:git/url "https://github.com/unclebob/speclj-structure-check"
					                                      :git/sha "493b8d2ae89a3c4e4ce472a59a50ac7ceb165af9"}}
					                        :main-opts ["-m" "speclj-structure-check.core"]}
					 :crap {:extra-deps {io.github.unclebob/crap4clj
					                      {:git/url "https://github.com/unclebob/crap4clj"
					                       :git/sha "a92acbd819a5dda9bb8a2268a997c66482b8445c"}}
					        :extra-paths ["spec"]
					        :main-opts ["-m" "crap4clj.core"]}
				 }
			 }
